html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

*{
    box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    font-family: 'Roboto', sans-serif;
}
ol, ul {
	list-style: none;
}
a{
    text-decoration: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

clearfix:after{
    display: block;
    clear: both;
    height: 0;
    content: '';
}

h2{
    text-transform: uppercase;
    text-align: center;
    font-size: 42px;
    margin: 20px 0;
}

#app{
    width: 100%;
    min-height: 10px;
}

header{
    height: 50px;
    background-color: #fcfcfc;
    border-bottom:thin solid #CCC;
    box-shadow: 0px 0px 2px 2px #ddd;
}
header > h1{
    float:left;
    padding-left:1.618em;
    padding-top:.6em;
}

header > h1 img{
  width:50px;
}

header > ul{
    float: right;
}
header > ul > li{
    float: left;
    height: 50;
}
header > ul{
    float: right;
}

form {
    width: 100%;
    max-width: 500px;
    min-width: 300px;
    margin: 0 auto;
}

input[type='radio']{
    display: inline;
}

form > div div{
    width: 500px;
}
.dashboardRows{
    min-height: 10px;
}

.dashboardRows:after, .reminders:after, .chat:after, .messageContacts > ul:after, .contactItem:after, header:after, header ul:after, main > section > ul:after{
    clear: both;
    content: '';
    display: block;
}

.dashboardRows h3{
    font-size: 32px;
    text-transform: uppercase;
    font-weight: lighter;
    text-align: center;
    margin: 15px 0;
}

.dashboardRows i {
    font-size: 106px;
    display: block;
    width: 96px;
    margin: 0 auto;
}

.dashboardRows h5{
    font-size: 72px;
    text-align: center;
}

.btn{
    width: 140px;
    padding: 8px;
    text-transform: uppercase;
    text-align: center;
    border-radius: 3px;
    font-size: 20px;
    border: none;
    box-shadow: 2px 2px 2px 1px #ddd;
    float: right;
    margin: 20px 0;
    background: #01A2A6;
    color: white;
}

.btn-back{
    float: left;
}

/* DASHBOARD */
.bottomRow > div, .bottomRow > a {
    float: left;
    width: 33%;
    min-height: 100px;
    border: 1px solid #333;
    display: block;
}

.dashboardInsurance h5{
    font-size: 14px;
    text-transform: uppercase;
    text-align: left;
}

.dashboardInsurance p{
    font-size: 18px;
    margin-bottom: 15px;
}

.bottomRow p{
    text-align: center;
    font-size: 24px;
    margin: 15px 0;
    font-weight: lighter;
}

.dashboardMain > div{
    float: left;
    width: 30%;
    padding: 20px;
}

.dashboardMain > div::last-of-type{
    width: 40%;
}

.reminders > div, .reminders > h6{
    float: left;
    padding: 10px;
}

.reminders > div{
    width: 20%;
    text-align: center;
}

.reminders > h6{
    width: 80%;
}

/* Calendar Application */

.scheduling{
  margin-top:2em;
  display:inline-block;
  width: 100%;
}

.scheduling > .datePicker{
  margin:0em 1em;
  text-align:left;
  width:40%;
}

.scheduling > .times{
  float:right;
  text-align:justify;
  margin:1em 0;
  width:60%;
}

/* CHAT */
#chatBoard{
    min-height: 150px;
    padding: 30px;
    margin: 0 auto;
    overflow: auto;
    max-height: 800px;
}
.chat > div{
    float: left;
    width: 70%;
    min-height: 100px;
}

.chat > div:first-of-type{
    width: 30%;
    border-right: 1px solid black;
}

.contactItem{
    margin: 20px 10px;
    background: rgba(248, 248, 248, 0.9);
    padding: 10px;
    border-radius: 3px;
}

.contactItem > a > div{
    float: left;
    width: 20%;
}

.contactItem h4{
    font-size: 22px;
    text-transform: uppercase;
    font-weight: lighter;
    padding-top: 10px;
}

.contactItem img{
    display: block;
    width: 50px;
    height: 50px;
    margin: 0 auto;
    border-radius: 50%;
}

.contactItem > a > div:nth-of-type(2){
    width: 60%;
}
.contactItem > a > div:last-of-type i{
    display: block;
    float: right;
    padding: 10px;
    font-size: 20px;
}
#messageInput{
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    min-height: 100px;
}

/* WELCOME */
main > section{
    min-height: 350px;
    padding: 30px 0;
}

main > .welcomeHeader {
  background-image:  linear-gradient(to top left, rgba(0, 0, 0, .8), rgba(255, 255, 255, 0)), url(./background_images/female_stretching.jpg);
  background-size: cover;
  background-attachment: fixed;
  max-height:1000px;
  height:100%;
}

.welcomeHeader > img {
  width:20%
}

main .welcomeMessage {
  position:relative;
  margin: 15% 0% 15% 55%;
  font-weight:300;
  color:#fff;
  text-align: right !important;
  height:15em;
}

main .welcomeMessage > h1{
  font-size: 3.64em;
  text-align:left;
  margin-bottom:.5em;
}
main .welcomeMessage li{
  font-size: 1.21em;
  margin:.75em 0em;
  font-weight: 100;
  list-style-type:circle;
  margin-left:2em;
  text-align:justify;
}

main .welcomeMessage > button {
  float:left;
  margin-left:2em !important;
  margin-top:1em !important;
}

main > section:nth-of-type(even){
    background-color: #203248;
    color: white;
}

main > section li{
    /*float: left;
    width: 26%;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    margin: 15px 3%;
    padding: 30px 0;*/
}

main > section .material-icons{
    font-size: 110px;
    text-align: center;
    padding: 10% 30% 2%;
}

main > section h4{
    font-size: 28px;
    font-weight: lighter;
    text-align: center;
}


main > section p{
    font-size: 20px;
    font-weight: lighter;
    text-align: center;
}