html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

*{
    box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    font-family: 'Roboto', sans-serif;
    background-color: #FFFFFF;
}
input{
    font-family: 'Roboto', sans-serif;
}
ol, ul {
	list-style: none;
}
a{
    text-decoration: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

clearfix:after{
    display: block;
    clear: both;
    height: 0;
    content: '';
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Lato', sans-serif;
}

h2{
    text-transform: uppercase;
    text-align: center;
    font-size: 42px;
    margin: 20px 0;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
}

h4{
    text-align: center;
    font-size: 24px;
    margin: 30px 0 10px;
    font-family: 'Lato', sans-serif;
    font-weight: 600;
}

#app{
    width: 100%;
    min-height: 10px;
}

header{
    height: 50px;
    background-color: #fcfcfc;
    box-shadow: 0px 0px 1px 1px #ddd;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 999;
}

header > h1{
    float:left;
    padding-left:2.618em;
    padding-top:.6em;
}

header > h1 img{
  width:50px;
}

header > ul{
    float: right;
}
header > ul > li{
    float: left;
    height: 50;
}
header > ul{
    float: right;
}
form {
    width: 100%;
    max-width: 500px;
    min-width: 300px;
    margin: 0 auto;
}
input[type='radio']{
    display: inline;
}
.dashboardRows{
    min-height: 10px;
}
.dashboardRows:after, .reminders:after, .profileDash:after, .chat:after, .messageContacts > ul:after, .contactItem:after, header:after, header ul:after, main > section > ul:after, .welcomeHeader:after, section:after, .messagesUser:after, .messagesIncoming:after, .team:after{
    clear: both;
    content: '';
    display: block;
}
.messageContacts{
    border-right: 2px solid #ddd;
}
.messagesUser{
    text-align: right;
}
.dashboardRows a{
    display: block;
    box-shadow: 1px 3px 6px 2px #eee;
    min-height: 250px;
    color: white;
    border-radius: 4px;
    padding: 20px;
}

.dashboardRows a:hover, .dashboardRows a:hover h3, .dashboardRows a:hover p, .dashboardRows a:hover i {
    background: rgb(242, 108, 44);
    color: white;
}

.dashboardRows h3, .profileDash h3{
    font-size: 32px;
    text-transform: uppercase;
    text-align: center;
    margin: 15px 0;
    color: #203248;
}

.dashboardRows:first-of-type h3{
    color: white;
    text-align: left;
}

.dashboardRows:first-of-type h3:nth-of-type(2){
    text-align: center;
}
.dashRemindersList{
    height: 180px;
    overflow: auto;
}
.dashboardRows i {
    font-size: 106px;
    display: block;
    width: 96px;
    margin: 0 auto;
    color: rgb(242, 108, 44);
}

.dashboardRows h5{
    font-size: 72px;
    text-align: center;
}

.mainDashWelcome img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display: block;
    margin: 20px auto ;
}

.btn{
    
    float: right;
}

.btn-back{
    float: left;
}

main{
    padding: 50px 0 0;
}

.patientAppMain{
}

/* DASHBOARD */
.bottomRow > div, .bottomRow > a, .dashboardMain > div {
    float: left;
    width: 24%;
    display: block;
    margin: 2% 4.5%;
}

.dashboardMain > div {
    width: 30%;
    display: block;
    margin: 2% 1.5%;
}

.dashboardInsurance h5{
    font-size: 14px;
    text-transform: uppercase;
    text-align: left;
    color: #aaa;
    margin-bottom: 5px;

}

.dashboardInsurance p{
    font-size: 18px;
    margin-bottom: 15px;
}

.bottomRow p{
    text-align: center;
    font-size: 24px;
    margin: 15px 0;
    font-weight: lighter;
    color: #203248;
}

.dashboardRows:first-of-type, .profileForms > div:first-of-type{
    background-image: url('./background_images/dashboard_main.jpg');
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
    color: white;
    padding: 30px 0;
}

.dashboardMain > div{
    float: left;
    width: 30%;
    padding: 20px 4%;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    height: 295px;
    margin-top: 60px;
}

.dashboardMain > div::last-of-type{
    width: 40%;
}

.reminders{
    margin-bottom: 10px;
    background: rgba(255,255,255, 0.5);
    color: #333;
}

.reminders > div{
    float: left;
    padding: 10px;
}

.reminders > div:first-of-type{
    width: 20%;
    text-align: center;
    color: white;
    background: rgba(242, 108, 44, 0.8);
}

.reminders > div:last-of-type{
    width: 80%;
}

/* Calendar Application */

.scheduling{
  margin-top:2em;
  display:inline-block;
  width: 100%;
}

.scheduling > .datePicker{
  margin:0em 1em;
  text-align:center;
  width:40%;
  float:left;
}

.scheduling > .times{
  float:right;
  text-align:justify;
  margin:1em 0;
  width:60%;
}

.appointmentTime{
  float:left;
  line-height:48px;
}

.appointmentRequestButton{
  padding-left:2.5em;
}

/* CHAT */
#chatBoard > div:nth-of-type(2){
    min-height: 150px;
    padding: 30px;
    margin: 0 auto;
    overflow: auto;
}
#chatBoard > div:first-of-type, .messageContacts > div:first-of-type{
    height: 50px;
    padding: 14px;
    background-color: rgb(242, 108, 44);
    color: white;
}
#chatBoard h4{
    text-align: center;
    font-size: 24px;
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    color: white;
    text-transform: uppercase;
    margin: 0;
}

#chatBoard {
    position: relative;
}
#chatBoard h3{
    font-size: 4vw;
    text-align: center;
    color: #eee;
    padding: 10% 0;
}
#messageSearch{
    padding: 10px;
    width: 90%;
    display: block;
    margin: 20px auto;
    border-radius: 10px;
    border: 1px solid #ddd;
    font-size: 16px;
}
#messageSearch:placeholder-shown{
    background: #eee;
}
::-webkit-input-placeholder, :-moz-placeholder, ::-moz-placeholder, :-ms-input-placeholder {  
   font-weight: lighter
}
.chatInput{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}
.chat > div{
    float: left;
    width: 70%;
    min-height: 100px;
}

.chat > div:first-of-type{
    width: 30%;
}

.contactItem{
    background: rgba(255, 255, 255, 1);
    padding: 20px;
    border-radius: 3px;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}
.contactItem:hover{
    background: rgb(242, 108, 44);
    color: white;
}
.contactItem > a > div{
    float: left;
    width: 20%;
}

.contactItem h4{
    font-size: 22px;
    text-transform: uppercase;
    font-weight: lighter;
    padding-top: 12px;
    margin: 0;
}

.contactItem img{
    display: block;
    width: 50px;
    height: 50px;
    margin: 0 auto;
    border-radius: 50%;
}

.contactItem > a > div:nth-of-type(2){
    width: 60%;
}
.contactItem > a > div:last-of-type i{
    display: block;
    float: right;
    padding: 10px;
    font-size: 20px;
}
#messageInput{
     width: 100%;
    padding: 10px;
    font-size: 16px;
    min-height: 100px;
    border: none;
    background: #eee;

}

/* WELCOME */
main > .wrapper > section{
    min-height: 350px;
    padding: 30px 0;
}

main > section:nth-of-type(odd){
}

.wrapper{
    width: 90%;
    margin: 0 auto;
}

.welcomeHeader{
    box-shadow: 0px 0px 6px 2px #eee;
}

.welcomeHeader > div{
    float: left;
    width: 50%;
    min-height: 550px;
}

.welcomeHeader > div:nth-of-type(2){
    color: #333;
    padding-right: 3%;
    background-color: white;
}

.welcomeHeader > div:first-of-type {
  background-image:  url('./background_images/mockup.png');
  background-position: center 160px;
  background-repeat: no-repeat;
  background-size: 90%;
  background-color: #203248;
  
}

.introPhotos {
  background-image:  url('./background_images/patients.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 250px;
}
.introTeam{
    background-image: none;
    height: 100px;
}
.introProviders {
  background-image:  url('./background_images/providers.jpg');
  background-position: center -190px;
}

.introPhotos h2 {
    text-transform: uppercase;
    text-align: center;
    font-size: 42px;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    background: rgba(255,255,255,0.8);
    padding: 10px 0;
    margin: 0;
}

.welcomeHeader > img {
  width:20%
}

.splitLogo{
    font-size: 8vw;
    margin: 25px 0;
    font-weight: 300;
}

.welcomeMy{
    color: white;
    text-align: right;
    padding-right: 10px;
}

.welcomeIlera{
    color: #203248;
    text-align: left;
    padding-left: 10px;
}

main .welcomeMessage {
  margin: 5% 0% 5% 5%;
  font-weight:300;
}

main .welcomeMessage > h1{
  font-size: 3.2vw;
  text-align:left;
  margin-bottom:.5em;
  font-weight: 500;
}
main .welcomeMessage li{
  font-size: 1.21em;
  margin:.75em 0em;
  list-style-type:circle;
  margin-left:2em;
}

main .welcomeMessage > button {
  float:left;
  margin-left:2em !important;
  margin-top:1em !important;
}



main > section:not(.welcomeHeader) li{
    float: left;
    width: 26%;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    margin: 15px 3%;
    padding: 30px 0;
}

main > section .material-icons{
    font-size: 110px;
    text-align: center;
    padding: 10% 30% 2%;
}

main > section h4{
    font-size: 28px;
    font-weight: lighter;
    text-align: center;
}


main > section p{
    font-size: 20px;
    font-weight: lighter;
    text-align: center;
}

.formIntro p{
    font-size: 18px;
    line-height: 150%;
    margin-bottom: 20px;
}
.forms h5{
    font-size: 22px;
    text-align: center;
    margin: 5px 0;
}
h5.extraTopMargin{
    margin: 30px 0 5px;
}
.forms h6{
    text-align: center;
    color: red;
}

.bold{
    font-weight: bold;
}
.allergyTable{
    height: 350px;
    overflow: auto;
}

.allergyRow{
    margin-bottom: 30px;
}

.form-search{
    width: 100%;
    border-bottom: 1px solid #ccc;
    border-left: none;
    border-right: none;
    border-top: none;
    position: relative;
}
.docSearchResult{
    height: 250px;
    max-width: 500px;
    width: 100%;
    overflow: auto;
    box-shadow: 3px 0px 6px 3px #eee;
    position: absolute;
    z-index: 100;
}
.docSearchResultHide{
    display: none;
}
.docSearchResult li{
    padding: 15px;
    border-bottom: 1px solid #ccc;
    background-color: white;
}

.profilePage > div{
    float: left;
    width: 30%;
    min-height: 500px;
}

.profilePage > div:last-of-type{
    width: 70%;
}

.profilePic{
    border-radius: 50%;
    display: block;
    margin: 0 auto;
    width: 200px;
    height: 200px;
    border: 1px solid white;
}
.profileSummary{
    padding: 30px 20px;
    background-color: #0D2233;
    color: white;
}

.profileSummary h3{
    font-size: 34px;
    text-align: center;
    margin: 15px 0;
    text-transform: uppercase;
}

.profilePage .btn{
    margin: 0 auto;
    text-transform: uppercase;
    text-align: center;
    background-color: rgb(242, 108, 44);
    color: white;
    width: 175px;
    padding: 10px;
    float: none;
}

.profileDash > div{
    float: left;
    width: 50%;
}
.profileSummary .btn{
    margin: 0 auto 20px;
    width: 200px;
    background-color: rgba(242, 108, 44, 1);
    border-radius: 5px;
    box-shadow: 1px 1px 5px -1px #fff;
}
.profileDash > div:nth-of-type(2){
    padding: 0 30px;
}
.quicklinks{
    margin: 50px auto 30px;
}
.quicklinks h4{
    text-transform: uppercase;
    font-size: 24px;
    margin-bottom: 15px;
}

/* ALL PHYSICIANS VIEW */

.allPhysicians {
  font-family: 'Lato', sans-serif;
  box-sizing:border-box;
}

.allPhysicians h2{
  margin: 1em 0em 1.5em 0em;
  font-weight:300;
}

.myPhysicianList{
  text-align:center;
  width:100%;
  float:left;
  background:rgba(0,0,0,.9);
  padding:2em;
  color:#FFF;
}

.myPhysicianList li{
  display: inline-block;
  margin:0 2em;
}


.myPhysicianList a{
  color:#FFF;
  padding:.5em;
}

.myPhysicianList .physicianInfo{
  padding:.5em;
  margin-top:.3em;
}

.myPhysicianList .physicianSpecialty{
  margin-top:-.5em;
}

.myPhysicianList a:hover{
  color:#0CC !important;
}
display:inline-block;
text-align:center;
}
.myPhysicianList li img{
  padding:0em 3em;
}
.allPhysicians .physicianImage{
  border-radius:50%;
}

.helpfulInfo{
  font-size:1em;
  color:#999;
}
.allPhysicians .searchForm div{
  clear:both;
  display:inline;
  padding:1em 0em;
  margin: 0 auto;
  min-width:100% !important;
}

.allPhysicians .searchForm h3{
  text-align:center;
  padding: 1.5em;
}

.allPhysicians .searchForm input, select{
  border: thin solid #CCC;
  color: #333;
  height: 3em;
  width: 25%;
  border-radius:.25em;
  padding:0em .5em;
  margin: 1em;
  outline:none;  
}
.allPhysicians .searchForm .smallForm{
  width:10%;
}

.allPhysicians .physicianInfo{
  padding:.5em;
  margin-top:.3em;
}


.physicianSpecialty{
  margin-top:-.5em;
  font-size:.9em;
  color:#999;
}

.allPhysicianList li{
  display:inline-block;
  text-align:center;
  margin: 5%;
}

.allPhysicianList a{
  color:#333;
  padding:.5em;
}
.allPhysicianList a:hover{
  color:#099 !important;
  border-bottom:thick solid #0CC;
}

.allPhysicianList .physicianSpecialty{
  margin-top:-.5em;
}



.searchForm{
  clear:both;
  text-align:center;
  padding:1em 0em;
  margin: 0 auto;
  background:rgba(0,0,0,.1);
  min-width:100% !important;
}

.searchForm button{
  background: rgba(242,108,44,1);0) */
  color:#667;
  border: .01em solid #CCC;
  CC; */
  box-shadow:.05em .05em .01em #999;
  color: #fff;
  border-radius:.2em;
  font-size:1.25em;
  outline:none;
  margin: 1em;
}

.searchForm button:hover{
  cursor:pointer;
  background:#099;
  box-shadow:.05em .05em .2em #999;
  color:#fff;
  border:#0CC;
}

/* Physician private profile */

.searchProfile{
  box-sizing:border-box;
  padding: 0em;
   font-weight:500
}
.searchProfile b{
  font-weight: 700;
}
.searchProfile img{
  float: left;
  clear:both;
  width:200px;
}
.searchProfile hr{
  width:80%;
}
.searchProfile .fa{
  padding: .5em .5em .5em 0em;
  margin-left: 10%;
}


.physicianProfileTitle{
  float:left;
  margin-left:2em;
  line-height:200px;
  font-size:3em;
  font-weight:300;
}

.searchProfileHeader{
  background:rgba(0,0,0,.9) !important;
  color:#fff;
  text-shadow: .01em .01em .01em #fff;
  margin-top:0em;
  padding: 5em 1em;
  float:left;
  width:100%;
}


.addPhysicianButton{
  font-family: 'Lato', sans-serif;
  position:relative;
  float:right;
  font-weight:300;
  left:0;
  border: none;
  background: rgba(0,102,102,1);
  font-size:1.2em;
  border-radius:.2em;
  color:#fff;
  box-shadow: .01em .01em .01em #333;
  padding:.4em;
  outline:none;
}

.addPhysicianButton:hover{
  font-family: 'Lato', sans-serif;
  cursor:pointer;
  position:relative;
  background: rgba(0,153,153,1);
  font-size:1.2em;
  border-radius:.2em;
  color:#fff;
  box-shadow: .01em .01em .01em #333;
  padding:.4em;
}


.removePhysicianButton{
  font-family: 'Lato', sans-serif;
  position:relative;
  float:right;
  font-weight:300;
  left:0;
  border: none;
  background: rgba(255,0,0,.5);
  font-size:1.2em;
  border-radius:.2em;
  color:#fff;
  box-shadow: .01em .01em .01em #333;
  padding:.4em;
}

.removePhysicianButton:hover{
  font-family: 'Lato', sans-serif;
  cursor:pointer;
  position:relative;
  background: #df2424;
  font-size:1.2em;
  border-radius:.2em;
  color:#fff;
  box-shadow: .01em .01em .01em #333;
  padding:.4em;
}

.appointmentButton{
  font-family: 'Lato', sans-serif;
  position:absolute;
  right:0;
  margin-right:1em;
  font-weight:300;
  margin-top:4em;
  border: none;
  background: rgba(0,0,0,.4);
  font-size:1.2em;
  border-radius:.2em;
  color:#FFF;
  box-shadow: .01em .01em .01em #333;
  padding:.4em;
  outline:none;
}

.appointmentButton:hover{
  font-family: 'Lato', sans-serif;
  position:absolute;
  right:0;
  cursor:pointer;
  background: rgba(255,255,255,.3);
  font-size:1.2em;
  border-radius:.2em;
  color:#fff;
  box-shadow: .01em .01em .01em #333;
  padding:.4em;
}

.physicianProfileBio{
  width:75%;
  line-height:1.2em;
  font-size:1em;
  padding-top:1em;
  color:#333;
  margin: 0 auto;
  text-align:left;
}

.physicianProfileLanguage{
  width:75%;
  font-size:1em;
  padding-top:2em;
  color:#333;
  margin: 0 auto;
  text-align:left;
  
}

.physicianProfileStreet{
  width:75%;
  font-size:1em;
  color:#333;
  margin: 0 auto;
  text-align:left;
}

.physicianProfileCity{
  width:75%;
  font-size:1em;
  color:#333;
  margin: 0 auto;
  text-align:left;
}

.physicianProfileState{
  width:75%;
  font-size:1em;
  color:#333;
  margin: 0 auto;
  text-align:left;
}

.physicianProfileInsuranceOne{
  width:75%;
  font-size:1em;
  color:#333;
  margin: 1em auto 0em auto;
  text-align:left;
}

.physicianProfileInsuranceTwo{
  width:75%;
  font-size:1em;
  color:#333;
  margin: 0 auto;
  text-align:left;  
}
.messagesIncoming > div, .messagesUser > div{
    background: #ddd;
    width: 30%;
    border-radius: 10px;
    padding: 20px;
    margin: 10px 0 10px 20px;
    position: relative;
}
.messagesIncoming img{
    position: absolute;
    left: -19px;
    bottom: -8px;
}
.messagesUser img{
    position: absolute;
    bottom:  -8px;
    right: -19px;
}
.messagesUser > div {
    margin: 10px 20px 10px 0;
    background: rgb(46, 211, 205);
    float: right;
}
main >section .team li{
    float: left;
    width: 25%;
    border: none;
    margin: 0;
    padding: 0;
}

.team img{
    width: 50%;
    display: block;
    border-radius: 50%;
    margin: 0 auto;
    border: 3px solid white;
   
}
.teamSec{
    background-color: #203248;
    padding: 0px 0 40px;
    color: white;
     text-align: center;
}

.teamSec h2{
    color: #333;
}
.team h4{
    font-size: 22px;
    text-align: center;
    font-weight: normal;
}
.team h5{
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 300;
}
.team p{
    font-size: 18px;
    font-weight: lighter;
    text-align: center;
    line-height: 140%;
    margin: 10px 0;
}